body
{
	border-top: 5px solid #0072bc;
	font-family: 'Open Sans', sans-serif;
	/* color: #333333; */
	padding
}

body, html {
	height:100%;
	padding:0;
	margin:0;
}

p
{
	margin: 5px 0;
	line-height: 20px;
	font-size: 13px;
}

a
{
	text-decoration: none;
	transition: color .5s ease;
}

h2 
{
	font-size: 26px;
	padding-bottom: 8px;
}

h3
{
	font-size: 15px;
	padding-bottom: 13px;
}

strong
{
	font-weight: bold;
}

header
{
	position:relative;
	width:auto;
	max-width:900px;
	margin: 0 auto 20px auto;
	background-color: ebebeb;
}

.center 
{	
	width: 900px;
	height: auto;
	margin: 0 auto;
	text-align: center;
}

header h1 
{
	float: left;
	width: auto;

}

/* navigation */ 

nav ul
{
	list-style:none;
	text-align: right;
	width: auto;
}


nav ul li
{
	display: inline-block;
	padding:28px 15px 10px 0;
}


nav ul li a
{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	transition: all .25s ease;
	color: black;
}


nav ul li a:visited
{
	color: black;
}

nav ul li a:hover, nav ul li a:active
{
	color: #0072bc;
}

/* Slider */

#container
{
	clear: both;
	width:100%;
	margin: 0 auto;
	position:relative;
	background-color: black;
}

.slides 
{
	margin: 0 auto;
	width: 900px;
}

/* Towers Hall */

.WhiteSection
{
	width:auto;
	height:auto;
	position:relative;
	padding-top: 30px;
	font-family: 'Open Sans', sans-serif;
	
}

.WhiteSection h2
{
	color: #0072bc; 
}

.WhiteSection p
{
	color: #a2a2a2;
	text-align: left;
	padding-bottom: 10px;
}

.WhiteSection a, .WhiteSection a:hover, .WhiteSection a:visited
{
	background-color: #a1a1a1;
	font-size: 14px;
	color: white;
	padding: 0px 5px 0px 5px;
	margin-bottom: 20px;
}

.WhiteSection iframe 
{
	padding-bottom: 30px;
}

/* TOWERS TV */

.BlueSection 
{
	width:auto;
	height:auto;
	position:relative;
	margin-top: 30px;
	padding: 0 0 30px 0;
	background-color: #0072bc;
}

.BlueSection h2 
{
	color: white;
	padding-top: 10px;
}

.BlueSection h3 
{
	color: #cccccc;
	padding-bottom: 20px;
}

/* BlogPosts  

#BlogPosts article
{
	float:left;
	width:250px;
	margin-right:50px;
	font-size:14px;
	padding-bottom: 20px;
}

#BlogPosts h2
{
	padding: 20px 0 30px 0;
	color: #0072bc;
}

#BlogPosts h4 
{
	font-weight: bold;
}

#BlogPosts h4, #BlogPosts p
{
	text-align: left;
}

*/ 

/* footer */ 
#footer 
{
	height: auto;
	width: auto;
	background-color: #0072bc;
	text-align:right;
	padding: 15px 10px 15px 10px;
	margin-top: 10px;
	
}

#footer p {
	color: white;
	font-size: 12px;
	line-height: 12px;
}

/* ETRA BITS */ 

.fullPic
{
	clear: both;
	width:100%;
	margin: 0 auto;
	margin-top: 20px;
	position:relative;
	background-color: black;
}

.headshot {
	padding-bottom: 13px;
}




